@keyframes slide {
  0% {
    margin-bottom: 20em;
    opacity: 0.6;
  }
  100% {
    margin-bottom: 0;
  }
}

.home {
  background: #8f6a52;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home__content {
  animation: slide 1s ease-in-out;

  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.521);
  display: flex;
  min-height: 70vh;
  height: fit-content;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2em;
  padding-bottom: 0em;
}
.home__button-wrapper {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.home__sides-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__right-wrapper {
  width: 50%;
}
.home__left-wrapper {
  width: 50%;
}
.home__select-wrapper {
  width: fit-content;
  margin: 0 auto 4em;
}
.home__table-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #8f6a524b;
  width: 100%;
  height: fit-content;

  padding: 1em 0em;
}
.home__credits {
  text-align: center;
  opacity: 0.7;
  margin: 0;
}
