@keyframes slide {
  0% {
    margin-bottom: 20em;
    opacity: 0.6;
  }
  100% {
    margin-bottom: 0;
  }
}

.home {
  background: #8f6a52;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home__content {
  animation: slide 1s ease-in-out;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.521);
  display: flex;
  min-height: 80vh;
  height: fit-content;
  width: 1500px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2em;
  padding-bottom: 0em;
}
.home__button-wrapper {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.home__sides-wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__right-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
}
.home__left-wrapper {
  width: 80%;
  height: 500px;
}
.home__select-wrapper {
  width: 90%;
}
.home__table-wrapper {
  flex-direction: column;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #8f6a524b;
  width: 100%;
  height: fit-content;

  padding: 1em 0em;
}
.home__credits {
  text-align: center;
  opacity: 0.7;
  margin: 0;
}
@media (max-height: 705px), screen and (max-width: 1525px) {
  .home {
    height: 100%;
    width: 100%;
  }
  .home__content {
    width: 100%;
    align-items: center;
    height: fit-content;
    background: #fff;
    border-radius: 0px;
    box-shadow: transparent;
  }
  .home__sides-wrapper {
    height: 100%;
    flex-direction: column;
    height: fit-content;
    max-width: 800px;
  }
  .home__right-wrapper,
  .home__left-wrapper {
    width: 100%;
  }
  .home__left-wrapper {
    padding: 1em;
    margin: 2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.17);
  }
  .home__table-wrapper {
    justify-content: center;
  }
}
